.box {
    max-width: 50vw;
}

.heading {
    flex-grow: 1;
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0px;
}

.noShadow {
    box-shadow: none !important;
}